<style>
  :host {
    --bright-blue: oklch(51.01% 0.274 263.83);
    --electric-violet: oklch(53.18% 0.28 296.97);
    --french-violet: oklch(47.66% 0.246 305.88);
    --vivid-pink: oklch(69.02% 0.277 332.77);
    --hot-red: oklch(61.42% 0.238 15.34);
    --orange-red: oklch(63.32% 0.24 31.68);

    --gray-900: oklch(19.37% 0.006 300.98);
    --gray-700: oklch(36.98% 0.014 302.71);
    --gray-400: oklch(70.9% 0.015 304.04);

    --red-to-pink-to-purple-vertical-gradient: linear-gradient(
      180deg,
      var(--orange-red) 0%,
      var(--vivid-pink) 50%,
      var(--electric-violet) 100%
    );

    --red-to-pink-to-purple-horizontal-gradient: linear-gradient(
      90deg,
      var(--orange-red) 0%,
      var(--vivid-pink) 50%,
      var(--electric-violet) 100%
    );

    --pill-accent: var(--bright-blue);

    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: block;
    height: 100dvh;
  }

  h1 {
    font-size: 3.125rem;
    color: var(--gray-900);
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -0.125rem;
    margin: 0;
    font-family: "Inter Tight", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
  }

  p {
    margin: 0;
    color: var(--gray-700);
  }

  main {
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-sizing: inherit;
    position: relative;
  }

  .content {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 700px;
    margin-bottom: 3rem;
  }

  .content h1 {
    margin-top: 1.75rem;
  }

  .content p {
    margin-top: 1.5rem;
  }

  .pill-group svg {
    margin-inline-start: 0.25rem;
  }

  .social-links path {
    transition: fill 0.3s ease;
    fill: var(--gray-400);
  }

  .social-links a:hover svg path {
    fill: var(--gray-900);
  }

  @media screen and (max-width: 650px) {
    .content {
      flex-direction: column;
      width: max-content;
    }
  }
</style>

<main class="main">
  <div class="content">
    <div class="left-side">
        <form (ngSubmit)="onSubmit()">
            <select [formField]="getBoardForm.difficulty">
                <option value="" selected>Select a board difficulty</option>
                @for (option of options; track option) {
                    <option [value]="option">{{ option }}</option>
                }
            </select>
            <button type="submit">Get Board</button>
            <button type="button" (click)="validateBoard()">Validate Board</button>
            <button type="button" (click)="gradeBoard()">Grade Board</button>
            <button type="button" (click)="solveBoard()">Solve Board</button>
            <button type="button" (click)="clearBoard()">Clear Board</button>
        </form>
        <div class="pill-group">
            <p><small>Game status:</small> <strong>{{store.gameStatus()}}</strong></p>
            <p><small>Selected difficulty:</small> <strong>{{getBoardForm.difficulty().value()}}</strong></p>
            <p><small>Board status:</small> <strong>{{store.boardStatus()}}</strong></p>
        </div>
        <div class="board">
        @for (row of store.board.board(); track $index) {
            <app-board-row [boardRowCells]="row" [rowIndex]="$index" />
        }
        </div>
        @if (store.isLoading()) {
            <p>Loading...</p>
        } @else if (store.error().message) {
            <p>Error: {{ store.error().message }}</p>
        } @else if (store.boardStatus() === 'solved') {
            Congratulations! You've solved the board!
        } @else if (store.gameStatus() === 'playing') {
            You're on the right track! Keep going to solve the board.
        }
        @else {
            <p>Welcome to the Sudoku Game! Please select a difficulty and click "Get Board" to start playing. You can fill in the cells with numbers from 1 to 9. Use the "Validate Board" button to check if your current entries are valid, and the "Grade Board" button to see how close you are to solving the puzzle. If you get stuck, the "Solve Board" button will provide you with the solution. You can also clear the board at any time using the "Clear Board" button. Enjoy playing and good luck!</p>
        }
    </div>
  </div>
</main>

<router-outlet />
