<main class="main">
  <div class="content">
    <div class="left-side">
        <form (ngSubmit)="onSubmit()">
            <select [formField]="getBoardForm.difficulty">
                <option value="" selected>Select a board difficulty</option>
                @for (option of options; track option) {
                    <option [value]="option">{{ option }}</option>
                }
            </select>
            @if (getBoardForm.difficulty().invalid()) {
                <ul>
                    @for (error of getBoardForm.difficulty().errors(); track error) {
                        <li>{{ error.message }}</li>
                    }
                </ul>
            }
            <button type="submit" [disabled]="getBoardForm.difficulty().invalid()">Get Board</button>
            <button type="button" (click)="validateBoard()">Validate Board</button>
            <button type="button" (click)="gradeBoard()">Grade Board</button>
            <button type="button" (click)="solveBoard()">Solve Board</button>
            <button type="button" (click)="clearBoard()">Clear Board</button>
        </form>
        <div class="pill-group">
            <p><small>Game status:</small> <strong>{{store.gameStatus()}}</strong></p>
            <p><small>Selected difficulty:</small> <strong>{{getBoardForm.difficulty().value()}}</strong></p>
            <p><small>Board status:</small> <strong>{{store.boardStatus()}}</strong></p>
        </div>
        <div class="board">
        <div id="board">
            @for (row of store.board.board(); track $index) {
                <app-board-row [boardRowCells]="row" [rowIndex]="$index" />
            }
        </div>
        </div>
        @if (store.isLoading()) {
            <p>Loading...</p>
        } @else if (store.error().message) {
            <p>Error: {{ store.error().message }}</p>
        } @else if (store.boardStatus() === 'solved') {
            Congratulations! You've solved the board!
        } @else if (store.gameStatus() === 'playing') {
            You're on the right track! Keep going to solve the board.
        }
        @else {
            <p>Welcome to the Sudoku Game! Please select a difficulty and click "Get Board" to start playing. You can fill in the cells with numbers from 1 to 9. Use the "Validate Board" button to check if your current entries are valid, and the "Grade Board" button to see how close you are to solving the puzzle. If you get stuck, the "Solve Board" button will provide you with the solution. You can also clear the board at any time using the "Clear Board" button. Enjoy playing and good luck!</p>
        }
    </div>
  </div>
</main>

<router-outlet />
